<div class="container__big-card">
  <div class="photo__big-card">
    <img src="https://pbs.twimg.com/media/F9c7D_vX0AAkl7C?format=jpg&name=large" alt="">
  </div>
  <div class="title__big-card">
    <h1><a href="#">Nova Versao Angular</a></h1>
  </div>
  <div class="description__big-card">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam explicabo impedit itaque quasi! Quas non pariatur praesentium ratione voluptatum, illo soluta quidem architecto at velit nostrum, est consequuntur facere dolores?</p>
  </div>
</div>
